$black: #252525;
$white: #FFFFFF;
$gray: #DDDDDD;
$dev-gray: #2D2C2A;
$red: #FF5666;
$lightblue: #0076b3;
$yellow: #F9C22E;
$teal: #00FFD0;
$green: #4CAF50;
$tan: #FEE2C8;
$transparent: rgba(0, 0, 0, 0);
$semi-trans: rgba(100, 100, 100, 0.1);
$kinda-trans: rgba(100, 100, 100, 0.7);
$black-transp: rgba(0, 0, 0, 0.7);
$peach: #F9DBBD; //rgba(249, 219, 189, 100)
$orange: #FCA17D; //rgba(252, 161, 125, 100)
$seagreen: #00FFD0; //rgba(0, 255, 208, 100)
$ruddy: #FF5666; //rgba(255, 86, 102, 100)
$rust: #DA627D; //rgba(218, 98, 125, 100)
$gold: #E5BA4D;
$silver: #C0C0C0;
$bronze: #CD7F32;
