$white: #FFFFFF;
$black1: #252525;
$black: lighten($black1, 10%);
$lightpink: rgb(255, 204, 204);
$mediumpink: rgb(255, 153, 153);
$darkpink: rgb(255, 102, 102);
$trans-red: rgba(255, 0, 0, 0.5);
$trans-green: rgba(0, 255, 0, 0.5);
$trans-purp: rgba(0, 0, 255, 0.5);
$trans-teal: rgba(0, 255, 255, 0.5);
$trans-black: rgba(255, 255, 255, 0.5);
$trans-yellow: rgba(255, 255, 0, 0.5);
$green: #008000;
$yellow: #FFFF00;
