$content-width: 58.75rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 0.625rem;
  width: 90%;
}

.grid-container{
    @include clearfix;
    width: 100%;
    max-width: 1200px;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /*-- our gutter -- */
    // background-color: #FFDCDC;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid #F6A1A1;
}


@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media all and (max-width:800px){
        .col-1{ width: 100%;    }
        .col-2{ width: 100%;        }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%;
        }

        .row .col-5 ~ .col-1{
            width: 100%;
        }
    }
