@media screen and (min-width: $xxl-desktop-min) {
  html,
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: $xl-desktop-max) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: $desktop-max) {
  html,
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  html,
  body {
    font-size: 15px;
  }

  .name-title {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: $tablet-portrait-min) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  html,
  body {
    font-size: 14px;
  }

  .hide-mobile {
    display: none;
  }

  .text-contain {
    // background-color: $green;
    // display: none;
    height: 50vh;
    left: 0%;
    margin: 0 auto;
    min-width: 100vw;
    position: absolute;
    text-align: left;
    top: 5vh;
    width: 100vw;
}

  .name-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
  }
}

@media screen and (max-width: $phone-portrait-max) {
  html,
  body {
    font-size: 12px;
  }

  .name {
    background-color: $trans-black;
    float: bottom;
    height: 30vh;
    left: 10%;
    min-width: 50vw;
    top: 55%;
    width: 50vw;
  }

  .text-contain {
    // background-color: $green;
    // display: none;
    height: 50vh;
    left: 0%;
    margin: 0 auto;
    min-width: 100vw;
    position: absolute;
    text-align: left;
    top: 5vh;
    width: 100vw;
}

  .intro {
    min-width: 80%;
    text-align: left;
    width: 80%;
  }

  .border-med {
    border: 4px solid $black;
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 0.5rem;
    text-transform: uppercase;
  }

}

@media screen and (max-width: $flip-phone-max) {
  html,
  body {
    font-size: 7px;
  }
}

@media screen and (max-width: $super-ultra-tiny-flip-phone-max) {
  html,
  body {
    font-size: 5px;
  }
}
