@media screen and (min-width: $xxl-desktop-min) {
  html,
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: $xl-desktop-max) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: $desktop-max) {
  html,
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  html,
  body {
    font-size: 15px;
  }

  .name-title {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: $tablet-portrait-min) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  html,
  body {
    font-size: 14px;
  }

  .hide-mobile {
    display: none;
  }

  .text-contain {
  // background-color: $green;
  // display: none;
  height: 50vh;
  left: 0%;
  min-width: 100vw;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  top: 5vh;
  width: 100vw;
}

  .name-title {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align:center;
    margin: 0 auto;
    width: 80vw;
  }
}

@media screen and (max-width: $phone-portrait-max) {
  html,
  body {
    font-size: 12px;
  }

  .name {
    float: bottom;
    height: 30vh;
    min-width: 50vw;
    left: 10%;
    top: 55%;
    width: 50vw;
    background-color: $trans-black;
  }

  .text-contain {
  // background-color: $green;
  // display: none;
  height: 50vh;
  left: 0%;
  min-width: 100vw;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  top: 5vh;
  width: 100vw;
}
.intro {
  width: 80%;
  min-width: 80%;
}

.border-med {
  border: 4px solid $black;
  margin: 0px auto;
  padding: .5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.intro {
  text-align: left;
}

}

@media screen and (max-width: $flip-phone-max) {
  html,
  body {
    font-size: 7px;
  }
}

@media screen and (max-width: $super-ultra-tiny-flip-phone-max) {
  html,
  body {
    font-size: 5px;
  }
}
