@import 'colors';

$easing: cubic-bezier(0.32, 0.06, 0.17, 0.89);
$duration: 5s;
$stagger: 0.2s;
$step: 0.1;
$colors: $darkpink, $mediumpink, $lightpink;
$color-key: random(length($colors));
$backgrounds: $trans-red, $trans-green, $trans-purp, $trans-teal, $trans-black, $trans-yellow;
$bg-key: random(2);
$nth-color: nth($colors, $color-key);
$nth-bg: nth($backgrounds, $bg-key);
$num-boxes: 12;


.hide {
  display: none;
}
.name {
  top: 60%;
  // background: $yellow;
  min-width: 32.5vw;
  position: fixed;
  right: 0%;
  width: 30vw;
}

.stylefix {
  font-size: 0.75rem;
}

.name-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.8rem;
  left: 0;
  line-height: 3.5rem;
  margin: 0.5rem 0.4rem;
  padding: 0;
  vertical-align: center;
  text-transform: uppercase;
  width: 30vw;
}

.text-contain {
  // background-color: $green;
  // display: none;
  float: left;
  height: 50vh;
  left: 5%;
  margin-top: 5%;
  min-width: 50vw;
  position: absolute;
  top: 5vh;
  width: 55vw;
}

.font1 {
  font-family: 'Josefin Sans', sans-serif;
}

.font2 {
  font-family: 'Abel', sans-serif;
}

.font3 {
  font-family: 'Archivo Black', sans-serif;
}

.font4 {
  color: $black;
  display: inline-block;
  font-family: 'Carrois Gothic', sans-serif;
}

.intro{
  // background: $white;
  color: $black;
  font-size: 1.35rem;
  line-height: 1.95rem;
  margin: 5% 15%;
  width: 70%;
  min-width: 50%;
  padding: 10px;
  text-align: left;
}

.tag {
  margin: 0 15%;
  width: 70%;
  min-width: 50%;
  padding: 10px;
  text-align: left;
  font-size: 1.15rem;
}

.intro2 {
  margin: 0% 0%;
  width: 50%;
  min-width: 50%;
  padding: 10px;
  text-align: center;

}

.tag5 {
  float: left;
  font-size: 1.35rem;
  line-height: 1.05rem;
  margin-bottom: 0.35rem;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
}

.tag4 {
  font-size: 2.2rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
}

p span
{
    display: block;

}

// span:before {
//     content:"• ";
// }

a.hover:hover {
  // background: $trans-black;
  border-bottom: solid 4px;
  border-color: $black;
  // border-bottom: none;
  // color: $white;
  transition: 0.5s;
}

a.hover {
  margin: .5rem;
  padding: 0px;
  line-height: 2.15rem;
}

a.hover2:hover {
border-bottom: solid 4px;
  border-color: $black;
  // border-bottom: none;
  // color: $white;
  transition: 0.5s;
}

.container1,
.container2 {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.test1{
  background: $white;
  height: 50px;
}

.row {
  margin: 0 auto;
}

.container2 {
  background: $green;
}

.container1 {
  background: $yellow;
}

.border-med {
  border: 4px solid $black;
  margin: 10px auto;
  padding: .5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.border-sm {
  border: 2px solid $black;
  margin: 10px auto;
  padding: .5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

body {
  background-color: $nth-bg;
  text-rendering: optimizeLegibility;
}

.box {
  // animation: up-down $duration $easing both infinite;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-name: up-down;
  animation-timing-function: $easing;
  background-color: $lightpink;
  float: left;
  height: 10vh;
  margin-left: 1%;
  transform: translateY(-100%);
  width: ((100% / $num-boxes) - 1);


  @for $i from 1 through $num-boxes + 2 {
    &:nth-child(#{$i}) {
      animation-delay: $stagger * ($i - 1);
    }
  }
}

a {
  color: $trans-black;
  text-decoration: none;
}

.nohover {
  text-decoration: none;
  text-transform: uppercase;
  color: $trans-black;
  font-size: 0.3rem;
  padding: 5px;
}

@keyframes up-down {
  from, 75%, to {
    transform: translateY(-200%);
    opacity: 0.95;
  }

  25%,50% {
    bottom: -100%;
    transform: translateY(875%);
    opacity: 0.01;
  }
}
