@import 'colors';

$easing: cubic-bezier(0.32, 0.06, 0.17, 0.89);
$duration: 5s;
$stagger: 0.2s;
$step: 0.1;
$colors: $darkpink, $mediumpink, $lightpink;
$color-key: random(length($colors));
$backgrounds: $trans-red, $trans-green, $trans-purp, $trans-teal, $trans-black, $trans-yellow;
$bg-key: random(2);
$nth-color: nth($colors, $color-key);
$nth-bg: nth($backgrounds, $bg-key);
$num-boxes: 12;

.name {
  bottom: 5%;
  position: absolute;
  right: 5%;
  float: right;
}

.name-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4rem;
  line-height: 3.5rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  left: 0;
}

.tag {
  font-family: 'Josefin Sans', sans-serif;
}

.tag2 {
  font-family: 'Abel', sans-serif;
}

.tag3 {
  font-family: 'Archivo Black', sans-serif;
}

.tag4,
.tag5 {
  font-family: 'Carrois Gothic', sans-serif;
}

.tag5{
  font-size: .5rem;
  line-height: 1.3rem;
  margin: .25rem 0;
  text-align: left;
  text-transform: lowercase;
}

.tag2,
.tag3,
.tag4,
.tag,{
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-top: .75rem;
  text-align: left;
  text-transform: lowercase;
}

.container1,
.container2 {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container2 {
  background: $green;
}

.container1 {
  background: $yellow;
}

body {
  background-color: $nth-bg;
}

.box {
  // animation: up-down $duration $easing both infinite;
  animation-name: up-down;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: $easing;
  background-color: $lightpink;
  float: left;
  height: 50px;
  margin-left: 1%;
  transform: translateY(-100%);
  width: ((100% / $num-boxes) - 1);


  @for $i from 1 through $num-boxes + 2 {
    &:nth-child(#{$i}) {
      animation-delay: $stagger * ($i - 1);
    }
  }
}

a {
  color: $trans-black;
  text-decoration: none;
  padding: 5px
}

a:hover {
  background: $trans-black;
  // border-bottom: solid 5px;
  // border-color: $trans-black;
  // border-bottom: none;
  border-radius: 3.5px;
  color: $white;
  transition: .5s;
  -webkit-transition: .5s;
  padding: 5px;

}

@keyframes up-down {
  from, 75%, to {
    transform: translateY(-200%);
  }

  25%,50% {
    bottom: -100%;
    transform: translateY(2000%);
  }
}
