{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>

<div class="text-contain code ">
  <center><p class="font4 border-med">code</p>
    <br><br>
    <div class="tag4 font4">
      <a class="page hover" id="eat" href="/eat.html"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
      <a class="page hover" id="write" href="/write.html"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      <a class="page hover" id="code" href="/code.html"><i class="fa fa-terminal" aria-hidden="true"></i></a>
    </div>
    <br><br>

  </center>


  <p class="font1 intro">
    I love to problem solve<br>
    and 'code'<br>
    or 'program', if you prefer.<br>
    I'm a <a href="http://www.code2040.org/eunice-kokor/" class="hover2"> black girl who codes</a><br>
    and <a href="http://www.meetup.com/NYC-PyLadies/events/227647566/" class="hover2">teaches</a> that knowledge as well.<br>
    Because <a class="hover2" href="http://www.sheplusplus.org/ambassadors2015/"> supporting others </a> along the way<br> is important, too.
  </p>



  <p class="intro font1"><span>Projects:</span>
    <span>BallotBoard Group Class Project
      <a class="hover2" href="https://github.com/eunicekokor/BallotBoard"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
    </span>
    <span>DevFest 2016 Hackathon Website
      <a class="hover2" href="https://github.com/adicu/2016.devfe.st"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      <a class="hover2" href="http://devfe.st"><i class="fa fa-link" aria-hidden="true"></i></a>
    </span>
    <span>Eunicod.es
      <a class="hover2" href="https://github.com/eunicekokor/eunicode2.0"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
       <a class="hover2" href="http://eunicod.es"><i class="fa fa-link" aria-hidden="true"></i></a></span>
    <span>Feelings App made w/ Little Sister
      <a class="hover2" href="https://github.com/eunicekokor/whitecoat/blob/master/whitecoat/views.py"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
       <a class="hover2" href="http://whitekoat.herokuapp.com/feelings"><i class="fa fa-link" aria-hidden="true"></i></a></span>
    <span>Gentrification in NYC Analysis
      <a class="hover2" href="https://github.com/eunicekokor/polling-db"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
    </span>
    <span>
      Got Issues: Civic Tech Issue Finder Analytics
      <a class="hover2" href="https://github.com/codeforamerica/gotissues"><i class="fa fa-github-alt" aria-hidden="true"></i></a><a class="hover2" href="http://got-issues.herokuapp.com"> <i class="fa fa-link" aria-hidden="true"></i> </a>
    </span>
    <span>
      StoneSoup Recipe Finder Hack Project
      <a class="hover2" href="https://github.com/eunicekokor/StoneSoup"> <i class="fa fa-github-alt" aria-hidden="true"></i> </a>
    </span>
    <span>
      Secret Snowman Matcher
      <a class="hover2" href="https://github.com/eunicekokor/SecretSanta"> <i class="fa fa-github-alt" aria-hidden="true"></i></a>
    </span>
  </p>

  <center><h1 class="name-title mobile-only">eunice<br>kokor</h1></center>
</div>


{{/content}}
{{/extend}}
