{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>

<div class="text-contain welcome">
  <center><p class="font4 border-med">welcome</p>
    <br><br>
        <div class="tag4 font4">
          <a class="page hover" id="eat" href="/eat.html"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
          <a class="page hover" id="write" href="/write.html"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a class="page hover" id="code" href="/code.html"><i class="fa fa-terminal" aria-hidden="true"></i></a>
        </div>
        <br><br>
  </center>

  <p class="font1 intro">
    Hello there. I'm Eunice.<br>
    This is my website right now!<br>
    I'm a versatile software engineer & tinkerer<br>
    So, play around with the background.<br>
    See what you can do. <br>
    Explore! <br>
    <a class="hover2" href="http://www.twitter.com/eunicekokor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </p>


  </div>

  {{/content}}
  {{/extend}}
