{{#extend "base"}}
{{#content "main" mode="prepend"}}

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

        <div class="text-contain write">
      <center>
      <p class="font4 border-med">write</p>
        <br><br>
        <div class="tag4 font4">
          <a class="page hover" id="eat" href="/eat.html"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
          <a class="page hover" id="write" href="/write.html"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a class="page hover" id="code" href="/code.html"><i class="fa fa-terminal" aria-hidden="true"></i></a>
        </div>
        <br><br>


      </center>
      <p class="font1 intro">

      Poems <br>
      don't always<br>
      have to<br>
      rhyme<br>
      and <br>
      not always <br>
      can you find <br>
      the reason <br>
      </p>

      <p class="font1 intro"><span>Links (more coming soon):</span>
      <span><a class="hover2" href="https://medium.com/@eunicekokor/i-just-can-t-breathe-23084fac66f4">I just can't breathe</a></span>
      </p>


      <center><h1 class="name-title mobile-only">eunice<br>kokor</h1></center>
    </div>



{{/content}}
{{/extend}}
